<nav class="navbar navbar-default navbar-fixed-top">
    <a class="navbar-brand pull-left"
       ng-href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    </a>
    <label class="navbar-brand">Choose Widget</label>
</nav>
<div class="under-navbar widgets-margin">
    <ul>
        <li class="hp-list-item">
            <a ng-click="model.newWidget('HEADING')">Header</a>
        </li>
        <li class="hp-list-item">Label</li>
        <li class="hp-list-item">HTML</li>
        <li class="hp-list-item">Text Input</li>
        <li class="hp-list-item">Link</li>
        <li class="hp-list-item">Button</li>
        <li class="hp-list-item">
            <a ng-click="model.newWidget('IMAGE')">
                Image
            </a>
        </li>
        <li class="hp-list-item">
            <a ng-click="model.newWidget('YOUTUBE')">
                YouTube
            </a>
        </li>
        <li class="hp-list-item">Data Table</li>
        <li class="hp-list-item">Repeater</li>
    </ul>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <a class="navbar-brand pull-right" ng-href="#/user/{{model.uid}}">
        <span class="glyphicon glyphicon-user glyphicon-white user-icon" aria-hidden="true"></span>
    </a>
</nav>