<div class="navbar navbar-default navbar-fixed-top">
    <div class="col-sm-4 hidden-xs">
        <a class="navbar-brand pull-left"
           ng-href="#/user/{{model.uid}}/website/{{model.wid}}/page">
            <span class="glyphicon glyphicon-chevron-left glypicon-white" aria-hidden="true"></span>
        </a>
        <a class="navbar-brand pull-right no-right-margin no-right-padding">
            <span class="glyphicon glyphicon-plus glyphicon-white" aria-hidden="true"></span>
        </a>

        <div class="navbar-header">
            <a class="navbar-brand">Pages</a>
        </div>
    </div>

    <div class="col-sm-8">
        <a class="navbar-brand pull-left hidden-sm hidden-md hidden-lg hidden-xl"
           ng-href="#/user/{{model.uid}}/website/{{model.wid}}/page">
            <span class="glyphicon glyphicon-chevron-left glypicon-white" aria-hidden="true"></span>
        </a>

        <a ng-click="model.updatePage(model.page)"
           class="navbar-brand pull-right"
           ng-href="#/user/{{model.uid}}/website/{{model.wid}}/page">
            <span class="glyphicon glyphicon-ok glyphicon-white" aria-hidden="true"></span>
        </a>

        <div class="navbar-header">
            <a class="navbar-brand">Edit Page</a>
        </div>
    </div>
</div>
<div class="under-navbar">
    <div class="col-sm-4 hidden-xs">
        <ul class="list-group">
            <li class="hp-list-item">
                <a href="../../widget/templates/widget-list.view.client.html">Blog Post</a>
                <a href="page-edit.view.client.html">
                    <span class="glyphicon glyphicon-cog hp-icon-blue pull-right" aria-hidden="true"></span>
                </a>
            </li>
            <li class="hp-list-item">
                <a href="../../widget/templates/widget-list.view.client.html">Blogs</a>
                <a href="page-edit.view.client.html">
                    <span class="glyphicon glyphicon-cog hp-icon-blue pull-right" aria-hidden="true"></span>
                </a>
            </li>
            <li class="hp-list-item">
                <a href="../../widget/templates/widget-list.view.client.html">Home</a>
                <a href="page-edit.view.client.html">
                    <span class="glyphicon glyphicon-cog hp-icon-blue pull-right" aria-hidden="true"></span>
                </a>
            </li>
            <li class="hp-list-item">
                <a href="../../widget/templates/widget-list.view.client.html">About</a>
                <a href="page-edit.view.client.html">
                    <span class="glyphicon glyphicon-cog hp-icon-blue pull-right" aria-hidden="true"></span>
                </a>
            </li>
            <li class="hp-list-item">
                <a href="../../widget/templates/widget-list.view.client.html">Contact Us</a>
                <a href="page-edit.view.client.html">
                    <span class="glyphicon glyphicon-cog hp-icon-blue pull-right" aria-hidden="true"></span>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-sm-8">
        <label>Name</label>
        <input ng-model="model.page.name" class="form-control" value="Blog Post">

        <label>Title</label>
        <input ng-model="model.page.description" class="form-control" placeholder="Page Title">

        <a class="btn btn-danger btn-block"
            ng-click="model.deletePage()">
            Delete
        </a>
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <a class="navbar-brand pull-right"
       ng-href="#/user/{{model.uid}}">
        <span class="glyphicon glyphicon-user user-icon" aria-hidden="true"></span>
    </a>
</nav>