<div class="navbar navbar-default navbar-fixed-top">
    <div class="col-sm-4 hidden-xs">
        <a class="navbar-brand pull-left"
           ng-href="#/user/{{model.uid}}/website/{{model.wid}}/page">
            <span class="glyphicon glyphicon-chevron-left glypicon-white" aria-hidden="true"></span>
        </a>
        <a class="navbar-brand pull-right no-right-margin no-right-padding">
            <span class="glyphicon glyphicon-plus glyphicon-white" aria-hidden="true"></span>
        </a>

        <div class="navbar-header">
            <a class="navbar-brand">Pages</a>
        </div>
    </div>

    <div class="col-sm-8">
        <a class="navbar-brand pull-left hidden-sm hidden-md hidden-lg hidden-xl"
           ng-href="#/user/{{model.uid}}/website/{{model.wid}}/page">
            <span class="glyphicon glyphicon-chevron-left glypicon-white" aria-hidden="true"></span>
        </a>

        <a ng-click="model.newPage(model.page)" class="navbar-brand pull-right">
            <span class="glyphicon glyphicon-ok glyphicon-white" aria-hidden="true"></span>
        </a>

        <div class="navbar-header">
            <a class="navbar-brand">New Page</a>
        </div>
    </div>
</div>
<div class="under-navbar">
    <div class="col-sm-4 hidden-xs">
        <div ng-repeat="page in model.pages">
            <div class="hp-list-item">
                <a ng-href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{page._id}}/widget">
                    {{page.name}}
                </a>
                <a ng-href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{page._id}}">
                    <span class="glyphicon glyphicon-cog hp-icon-blue pull-right" aria-hidden="true"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div ng-show="model.error" class="alert alert-danger">
            {{model.error}}
        </div>
        <label>Name</label>
        <input ng-model="model.page.name" class="form-control" placeholder="Name">

        <label>Title</label>
        <input ng-model="model.page.description" class="form-control" placeholder="Page Title">
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <a class="navbar-brand pull-right"
      ng-href="#/user/{{model.uid}}">
        <span class="glyphicon glyphicon-user glyphicon-white" aria-hidden="true"></span>
    </a>
</nav>